<div class="modal bconf-add" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>
			<form role="form">
				<div class="modal-body">
					<div class="form-group">
						<label for="board-name">Board Name:</label>
						<input ng-model="newBoard.name"
								 class="form-control" id="board-name" name="board-name"
								 type="text" placeholder="Enter a board name"/>
					</div>
					<div class="form-group">
						<label for="board-desc">Board Describe:</label>
						<input ng-model="newBoard.desc"
								 class="form-control" id="board-desc" name="board-desc"
								 type="text" placeholder="Enter a board describe"/>
					</div>
					<div class="form-group bconf-repo">
						<label for="svn-repo">SVN Repo &emsp;</label>
						<input type="checkbox" name="svn-repo" ng-model="newBoard.svn"/>
					</div>
					<div class="form-group bconf-color">
						<label>Board Color:&emsp;</label>
						<button type="button" class="btn bconf-color-btn btn-{{newBoard.color}}" bs-dropdown="colorDropdown">
							Change Color
							<b class="caret"></b>
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="saveNewBoard(newBoard)">Save</button>
					<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
