<ul tabindex="-1" class="dropdown-menu" role="menu">
    <li role="presentation" ng-class="{divider: item.divider}" ng-repeat="item in content">
        <button role="menuitem" tabindex="-1"
                ng-click="$eval(item.click);$hide()"
                class="btn btn-{{item.color}}"
                ng-if="!item.divider"
                >
            &emsp;
        </button>
    </li>
</ul>
