<div ng-model="boardInfo">
	<div class="container">
		<div class="board-header">
			<h2>{{boardInfo.title}}
				<button class="btn bconf-cog" ng-class="getBgColor()"
						data-template="views/board.config.html"
						data-placement="right"
						bs-aside="aside" data-container="body">
					<i class="glyphicon glyphicon-cog"></i>
				</button>
			</h2>
			<span>{{boardInfo.desc}}</span>
		</div>

		<div class="row">
			<div class="col-lg-10" ui-tree="options">

				<ol ui-tree-nodes ng-model="lists" data-type="list">

					<li ng-repeat="list in lists" ui-tree-node class="list">
						<!-- list head start -->
						<div class="list-title angular-ui-tree-handle grab" ng-show="!list.editing">
							<a data-nodrag ng-click="removeList(list)" href="" class="btn btn-danger btn-xs pull-right">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
							<a data-nodrag ng-click="editList(list)" href="" class="btn btn-primary btn-xs pull-right">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<div ng-bind="list.title"></div>
						</div>
						<div data-nodrag ng-show="list.editing" class="list-title angular-ui-tree-handle">
							<form class="form-inline" role="form">
								<div class="form-list">
									<label class="sr-only" for="listName">List name</label>
									<input ng-model="list.title" placeholder="List name" type="text" class="form-control">
								</div>
								<button type="submit" class="btn btn-default" ng-click="saveList()">Save</button>
								<button type="submit" class="btn btn-default" ng-click="cancelEditingList(list)">Cancel</button>
							</form>
						</div>
						<!-- list head end -->

						<!-- card start -->
						<ol ui-tree-nodes ng-model="list.cards" data-type="card">
							<li ng-repeat="card in list.cards" ui-tree-node class="card">
								<div class="card-title angular-ui-tree-handle">
									<a data-nodrag ng-click="removeCard(card.id)" href="" class="btn btn-danger btn-xs pull-right">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
									<div ng-bind="card.title">
									</div>
								</div>
							</li>
						</ol>
						<!-- card end -->

						<!-- add card add start -->
						<ol class="angular-ui-tree-nodes" data-nodrag>
							<li class="angular-ui-tree-node">
								<div class="card-title angular-ui-tree-handle">
									<form class="form-inline" role="form">
										<div class="form-list">
											<label class="sr-only" for="">Card name</label>
											<input ng-model="list.newCardName" id="" placeholder="Card name" type="text" class="form-control">
										</div>
										<button type="submit" class="btn btn-default" ng-click="addCard(list)">Add Card</button>
									</form>
								</div>
							</li>
						</ol>
						<!-- add card end -->

					</li>

				</ol>
				<ol class="angular-ui-tree-nodes">
					<li class="angular-ui-tree-node">
						<div class="list-title angular-ui-tree-handle">
							<form class="form-inline" role="form">
								<div class="form-list">
									<label class="sr-only" for="listName">List name</label>
									<input type="text" class="form-control" id="listName" placeholder="List name">
								</div>
								<button type="submit" class="btn btn-default" ng-click="addList()">Add List</button>
							</form>
						</div>
					</li>
				</ol>

				<pre ng-model="lists">{{lists | json}}</pre>
			</div>



		</div>
	</div>
</div>
