<div class="aside" tabindex="-1" role="dialog" >
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="aside-title" ng-bind-html="title"></h4>
			</div>
			<div class="aside-body">

				<div class="bconf-color">
					<h4>Board Color</h4>
					<button type="button" class="btn btn-{{color}} bconf-color-btn" bs-dropdown="colorDropdown">Change Color
						<b class="caret"></b>
					</button>
				</div>
				<div class="bconf-repo">
					<h4>SVN Repo</h4>
					<span>{{boardInfo.repo_url}}</span>
				</div>
				<div class="bconf-repo">
					<h4>SVN viewvc url</h4>
					<a target="_blank" href="{{boardInfo.viewvc_url}}">{{boardInfo.viewvc_url}}</a>
				</div>


			</div>
			<div class="aside-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
			</div>
		</div>
	</div>
</div>
