.navbar {
	min-height: 60px;
}
.navbar-form {
	margin: 0;
	padding: 4px;
}
.navbar-form .btn {
	vertical-align: bottom;
	font-size: 1.4em;
}
@media (max-width: 767px) {
	.navbar-form .form-group {
		display: inline-block;
		width: 100%;
		margin-bottom: 0;
	}
	.navbar-form .btn {
		position: absolute;
		top: 61px;
		right: 4px;
	}
}
@media (min-width: 768px) {
	.navbar-form.navbar-right:last-child {
		margin: 10px 15px auto 0;
	}
	.navbar-header {
		margin-left: 5%;
	}
}
.navbar-brand {
	font-size: 2.4em;
}
.container {
	min-width: 390px;
	overflow: hidden;
}
.view-animate-container {
	width: 100%;
	height: 100%;
}
/**
 * slide effect
 * see: http://dfsq.github.io/ngView-animation-effects/app
 */
 .slide {
	position: absolute;
	left: 0;
	top: 88px;
	width: 100%;
	height: 100%;
}
.slide.ng-enter, .slide.ng-leave {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.slide.ng-enter {
	left: 100%;
}
.slide.ng-enter-active {
	left: 0;
}
.slide.ng-leave {
	left: 0;
}
.slide.ng-leave-active {
	left: -100%;
}
/* board start---------------------*/
.board {
	height: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
.board-header {
	margin-bottom: 26px;
}
.baord li{
	display: block;
}
.list-warpper {
	clear: both;
}
.list .ng-binding {
	color: black;
	padding-left: .5em;
}
.list .btn {
	margin-right: 8px;
}
.list-title {
	font-size: 1.4em;
}
.card .angular-ui-tree-handle {
	 cursor: pointer;
}
.list.angular-ui-tree-placeholder {
	background-color:rgba(0, 0, 0, 0.2);
	border-color:transparent;
	-webkit-box-shadow:none;
	box-shadow:none;
	height:100px
}
.card {
	z-index: 0;
	font-size: 1.2em;
}
.card-add {
	border-bottom: 1px solid #bdbdbd;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 4px;
	width: 230px;
	min-height: 16px;
	position: relative;
	z-index: 0;
	font-size: 1.6em;
}
/* board end---------------------*/

/* dashboard start---------------------*/
 .board-box {
	height: 120px;
	max-width: 200px;
	margin: 10px 10px;
}
.board-box a {
	display: block;
	height: 100%;
	width: 100%;
}
.board-box a:hover {
	text-decoration: none;
}
.board-box span {
	color: white;
	text-decoration: none;
	text-align: left;
	white-space: normal;
}
.board-box .glyphicon {
	padding: 0.3em;
	color: white;
}
.board-add.glyphicon {
	 color: gray;
	margin-top: 25%;
	text-align: center;
	font-size: 3.0em;
}
.board-title {
	font-size:1.4em;
	word-wrap: break-word;
}
.bconf-cog {
	background: transparent;
	color: white;
}
/* dashboard end---------------------*/
.aside {
	color: black;
}
.aside-backdrop {
	opacity: .5;
}
.bconf-color-btn {
	width: 158px;
}
.bconf-color > .dropdown-menu {
	background: transparent;
	padding: 0;
	border: none;
}
.bconf-color>.dropdown-menu>li>button {
	width: 100%;
}
.bconf-color>.dropdown-menu>li>button:hover {
	color: white;
}
.bconf-repo>input[type="checkbox"]{
	 display: inline-block;
	 zoom: 1.8;
	 vertical-align: text-bottom;
}
.bconf-add label{
	 font-size: 1.5em;
}