@black: #333;
@white: #fff;
@blue: #428bca;
@green: #5cb85c;
@cyan: #5bc0de;
@orange: #f0ad4e;
@red: #d9534f;
@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee



//-- Iconography
//
//## Specify custom locations of the include Glyphicons icon font. Useful for those including Bootstrap via Bower.

@icon-font-path:          "../../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:                normal;

@btn-default-color:              @black;
@btn-default-bg:                 @white;
@btn-default-border:             #ccc;

@btn-primary-color:              @white;
@btn-primary-bg:                 @blue;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              @white;
@btn-success-bg:                 @green;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-info-color:                 @white;
@btn-info-bg:                    @cyan;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-warning-color:              @white;
@btn-warning-bg:                 @orange;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               @white;
@btn-danger-bg:                  @red;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-link-disabled-color:        @gray-light;

