<!doctype html>
<html ng-app="PbApp">

<head>
	<base href="/">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<link rel="icon" type="image/png" sizes="48x48" href="img/favicon.ico"/>
	<!--[if lt IE 9]>
	<!-- build:shiv js/html5shiv.min.js -->
	<script src="../vendor/html5shiv/dist/html5shiv.min.js"></script>
	<!-- endbuild -->
	<![endif]-->
	<!-- build:css css/style.css -->
	<link rel="stylesheet" type="text/css" href="../src/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../src/css/angular-ui-tree/angular-ui-tree.css">
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap-additions/dist/bootstrap-additions.css">
	<link rel="stylesheet" type="text/css" href="../vendor/angular-motion/dist/angular-motion.css">
	<link rel="stylesheet" type="text/css" href="../src/css/base.css">
	<link rel="stylesheet" type="text/css" href="../src/css/core.css">
	<!-- endbuild -->
</head>

<body ng-controller="MainCtrl as main" ng-class="getBdClass()" class="unselectable">
<div>
	<nav class="navbar" ng-class="getNavClass()" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<a class="navbar-brand" href="/" ng-click="reload()" title="A realtime collaborative platform."><i
				class="glyphicon glyphicon-home"></i> PBoard</a>
		</div>
		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
			</button>
		</form>
	</nav>

	<div class="view-animate-container">
		<div ng-view class="view-animate slide"></div>
	</div>

</div>

<!-- build:jsNg js/angular.js -->
<script src="../vendor/angular/angular.js"></script>
<!-- endbuild -->

<!-- build:jslib js/lib.js -->
<script src="../vendor/angular-animate/angular-animate.js"></script>
<script src="../vendor/lodash/dist/lodash.js"></script>
<script src="../vendor/autobahn.min.js"></script>
<script src="../vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="../vendor/angular-route/angular-route.min.js"></script>
<script src="../vendor/ng-Fx/dist/ng-Fx.min.js"></script>
<script src="../vendor/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<script src="../vendor/angular-strap/dist/angular-strap.js"></script>
<script src="../vendor/angular-strap/dist/angular-strap.tpl.js"></script>
<!-- endbuild -->


<!-- build:jsapp js/app.js -->
<script src="../src/js/app.js"></script>
<script src="../src/js/constant.js"></script>
<script src="../src/js/config.js"></script>
<script src="../src/modules/common/services.js"></script>
<script src="../src/modules/common/MainCtrl.js"></script>
<script src="../src/modules/dashboard/DashboardCtrl.js"></script>
<script src="../src/modules/board/BoardCtrl.js"></script>
<!-- endbuild -->

</body>

</html>
