<div ng-model="boardInfo" class="container">

		<h3 class="page-header "><i class="glyphicon glyphicon-flag"></i>My Boards</h3>
		<div class="row board-list clearfix well">
            <div class="btn btn-default btn-large board-box">
                <a ng-click="showBoardModal()">
                    <span class="board-add glyphicon glyphicon-plus" title="Click here to add a board."></span>
                </a>
            </div>
			<div ng-repeat="board in boardInfo" class="fx-bounce-right fx-speed-350 btn btn-large board-box" ng-class="{'btn-{{board.color}}': board.color!=='', 'btn-default': board.color==''}" title="{{board.desc}}">
				<a ng-href="/board/{{board.id}}">
					<div class="board-title">
						<i class="glyphicon glyphicon-list-alt"></i><span>{{board.title}}</span>
					</div>
					<span>{{board.desc}}</span>
				</a>
			</div>
		</div>

</div>
